// Override Bootstrap Variables
@import "variables";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

.fullWidth {
  width: 100%;
}

.scene {
  height: 90vh !important;
}

.controls {
  width: min-content;
}

#opacityControls.pointer {
  cursor: pointer;
}
